<% for (let i = 0; i < blogs.length; i++) { %>
    <article class="cursor-pointer artic relative border-b-2 py-8 w-[680px] my-4 mx-auto grid items-center gap-5 px-3">
        
    
    <% if(blogs[i].thumbnail != null) { %>
        <img class="w-[200px] img h-[150px] object-cover" src="data:image/<%=blogs[i].thumbnail.contentType%>;base64,
        <%= blogs[i].thumbnail.data.toString('base64') %>"/>
    <% } %>
    <div  class="flex flex-col details">
            <a href="/writers/<%= blogs[i].author.id %>" class="font-semibold flex flex-row items-center gap-1.5">
                <% if (blogs[i].author.profile_picture) { %>
                    <img class="w-8 rounded-full object-cover" src="data:image/<%=blogs[i].author.profile_picture.contentType%>;base64,<%= blogs[i].author.profile_picture.data.toString('base64') %>" alt="">
                <% } else { %>
                    <img class="object-cover w-8 rounded-full" width="96" height="96" src="https://img.icons8.com/parakeet-line/96/test-account.png" alt="test-account"/>
                <% } %>
                <p class=""><%= blogs[i].author.username %></p>
            </a>
            <a href="/blogs/<%=blogs[i].id%>">
                <p class="text-[24px] font-semibold mt-2"><%= blogs[i].title %></p>
                <div class="line-clamp-3 mt-1.5"><%- blogs[i].preview %></div>
            </a>
    </div>
</article>

<style>
    .artic{
        grid-template-columns: 3fr 7fr;
    }
</style>

<% } %>
<%- include("pagination") %>